#footer{
    width:100%;
    height:var(--footer-height);
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: var(--light-green);
    color:var(--white);
    font-size: 14px;
}